---
import { Image } from "astro:assets";
import MyImageLucas from "../../assets/MyImageLucasZeroBg.png";
---

<div class="container">
  <div class="title-hero">
    <h1>Lucas Neves Moreira Sampaio</h1>

    <div class="description-hero">
      <h2>Dev Fullstack</h2>

      <p>Front-end: React - Vue - NextJS - NuxtJS</p>
      <p>UI: TailwindCSS - Shadcn/UI</p>
      <p>Back-end: Bun - NodeJS - Fastify - Bun Vanilla</p>
      <p>ORM: Prisma - Drizzle - Driver Vanilla</p>
      <p>Database: SQlite - PostgreSQL - MySQL</p>
      <p>Infra: <strong>Sua escolha</strong></p>
    </div>
  </div>

  <div class="img-size">
    <Image
      src={MyImageLucas}
      alt="Eu mesmo"
      class="png-shadow img-size"
      width={70 * 16}
      inferSize
    />
  </div>
</div>

<style>
  div {
    border: solid 0px #fff;
  }

  .title-hero {
    gap: 4px;
  }

  .description-hero {
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1rem;

    text-align: center;
  }

  .description-hero p {
    margin: 0.5rem 0;

    color: #fff8;
  }

  div {
    margin: 0 4rem;
  }

  h1 {
    margin-bottom: 4rem;
  }

  .container {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    overflow: hidden;
  }

  .png-shadow {
    /* Ordem de pintura: Borda primeiro, Sombra depois */
    filter: 
    /* Camada 1: Borda Branca (Hard Shadows) */
      /* Camada 2: Sombra Laranja Suave (Soft Shadow) */
      /* drop-shadow(x y blur color) */ drop-shadow(
      1.5rem -0.3rem 3rem rgba(255, 166, 0, 0.4)
    );
  }
</style>
